<!DOCTYPE html>
<html lang="en" ng-app="JRSE">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JRSE -Financien</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">JRSE Finance</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Jonathan Ramos</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Jonathan Ramos</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Jonathan Ramos</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <!-- Account -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Jonathan Ramos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="forecast.html"><i class="fa fa-fw"></i>Forecast</a>
                    </li>
                    <li class="active">
                        <a href="urenregistratie.html"><i class="fa fa-fw"></i>Urenregistratie</a>
                    </li>
                    <li class="active">
                        <a href="facturatie.html"><i class="fa fa-fw"></i>Facturatie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forecast
                            <small>Prognose omzet</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row"
                     ng-controller="ForecastController">
                    <!-- --------------------------------------------------------------------------------------------- Input stuff -->
                    <div class="col-lg-4">
                        <h4>Parameters</h4>
                        <div class="col-lg-6">
                            <label>Uurtarief</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                                <input class="form-control"
                                       type="number" 
                                       step="0.01"
                                       placeholder="52,50"
                                       ng-model="forecast.uurtarief">
                            </div>
                            <div class="form-group input-group">
                                <label>Uren</label>
                                <input class="form-control"
                                       type="number"
                                       placeholder="8"
                                       ng-model="forecast.uren">
                            </div>
                            <div class="form-group input-group">
                                <label>Dagen/maand</label>
                                <input class="form-control" 
                                       type="number"
                                       placeholder="20"
                                       ng-model="forecast.dagenpermaand">
                            </div>
                            <div class="form-group input-group">
                                <label>Normuren</label>
                                <input class="form-control" 
                                       type="number"
                                       placeholder="1225"
                                       ng-model="forecast.ondernemersaftrek.normuren">
                            </div>

                            <label>Kosten</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                                <input class="form-control" 
                                       type="number"
                                       placeholder="500"
                                       ng-model="forecast.jaarlijks.kosten">
                            </div>
                        </div>
                        <!-- Kortingen -->
                        <div class="col-lg-6">
                            <label id="mkbvrijstellingid">MKB winstvrijstelling</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
                                <div class="form-group">
                                    <select class="form-control" 
                                            ng-model="forecast.ondernemersaftrek.mkb.toepasbaar">
                                        <option>J</option>
                                        <option>N</option>
                                    </select>
                                </div>
                                <input class="form-control"
                                       type="number"
                                       step="0.01"
                                       ng-model="forecast.ondernemersaftrek.mkb.percentage">
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <label id="zelfstandigenaftrekid">Zelfstandigenaftrek</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
                                <div class="form-group">
                                    <select class="form-control" 
                                            ng-model="forecast.ondernemersaftrek.zelfstandigen.toepasbaar">
                                        <option>J</option>
                                        <option>N</option>
                                    </select>
                                </div>
                                <input class="form-control"
                                       type="number"
                                       ng-model="forecast.ondernemersaftrek.zelfstandigen.aftrek">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label id="mkbvrijstellingid">Startersaftrek</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
                                <div class="form-group">
                                    <select class="form-control" 
                                            ng-model="forecast.ondernemersaftrek.starters.toepasbaar">
                                        <option>J</option>
                                        <option>N</option>
                                    </select>
                                </div>
                                <input class="form-control"
                                       type="number"
                                       ng-model="forecast.ondernemersaftrek.starters.aftrek">
                            </div>
                        </div>                         
                    </div>
                    <!-- --------------------------------------------------------------------------------------------- Maandelijkse omzet -->
                    <div class="col-lg-4">
                        <h4>Maandelijks</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Uurtarief</th>
                                        <th>Uren</th>
                                        <th>Omzet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>€ {{forecast.uurtarief | number:2}}</td>
                                        <td>{{forecast.maandelijkseUren()}}</td>
                                        <td>€ {{forecast.maandelijkseOmzet() | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>BTW</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>€ {{forecast.maandelijkseBTW() | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------------------------------------------- Jaarlijkse omzet -->
                    <div class="col-lg-4">
                        <h4>Jaarlijks</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="active"></th>
                                        <th>€</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uren</td>
                                        <td>{{forecast.jaarlijks.uren()}}</td>
                                    </tr>
                                    <tr>
                                        <td>Omzet</td>
                                        <td>{{forecast.jaarlijks.omzet() | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Winst uit onderneming</td>
                                        <td>{{forecast.jaarlijks.winstUitOnderneming() | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Belastbare (fiscale) winst</td>
                                        <td>{{forecast.jaarlijks.winstBelastbaar() | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Winst uit onderneming na aftrek MKB</td>
                                        <td>{{forecast.jaarlijks.winstNaMkb() | number:2}}</td>
                                    </tr>
                                        
                                </tbody>
                            </table>

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>BTW</th>
                                        <th>Inkomstenbelasting</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>€ {{forecast.jaarlijks.btw() | number:2}}</td>
                                        <td>€ {{forecast.jaarlijks.inkomstenbelasting.bereken() | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="libs/angular/angular.js" type="application/javascript"></script>
    <script src="js/jquery.js" type="application/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/app.js" type="application/javascript"></script>

</body>

</html>
