<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="forecast.html"><i class="fa fa-fw"></i>Forecast</a>
        </li>
        <li class="active">
            <a href="urenregistratie.html"><i class="fa fa-fw"></i>Urenregistratie</a>
        </li>
        <li class="active">
            <a href="facturatie.html"><i class="fa fa-fw"></i>Facturatie</a>
        </li>
        <li class="active">
            <a href="klanten.html"><i class="fa fa-fw"></i>Klanten</a>
        </li>
    </ul>
</div>